/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  /*background-color: #555;*/
  /*color: white;*/
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

p {
    margin-bottom: 1em;
    margin-top: 0em;
    font-size: 1.1em;
    line-height: 1.5em;
}

.collapsible ul li {
    list-style-type: circle;
    list-style-position: inside;
}

.btn-link {
  outline: 0px solid transparent;
}

img {
    display: block;
    margin: 1em auto 1em auto;
    box-shadow: 2px 2px 2px #888888;
}

li {
    padding: 1px;
}

table {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	margin-bottom: 1em;
}
table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
body{
    padding-top: 50px;
}

h3 { /* trying to solve the https://github.com/twbs/bootstrap/issues/1768 problem */
    padding-top: 70px; margin-top: -50px;
}
h4, h5 { /* trying to solve the https://github.com/twbs/bootstrap/issues/1768 problem */
    padding-top: 60px; margin-top: -50px;
}
h5 {
        font-weight: bold;
}

/* spinner by by @tobiasahlin */
.spinner {
  margin: 0 auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.mindmap{
  text-decoration: none!important;
  display:block;
}

.mindmap-new-section{
  margin-top: 30px;
}

.mindmap code{
    display: inline-block; /* Changed to inline-block for better control */
    padding: .2em .6em .3em;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 1em;
    font-family: Arial, sans-serif;
    position: relative; /* For positioning the pseudo-element */
}

.mindmap code:first-child {
    color: #fff;
    min-width: 1px; /* will be adjusted with the script */
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
    border-radius: .25em 1em 1em .25em;
}

/* Offset anchor links to adjust for fixed headers */
:target::before {
  content: "";
  display: block;
  height: 100px; /* Adjust according to the height of your fixed header */
  margin: -60px 0 0; /* Adjust to match the height */
  visibility: hidden;
}