---
layout: home
---

{% include welcome.html %}

<hr/>
<h4>
    <small>RECENT POSTS</small>
</h4>

<ul class="list-unstyled">
    {% for post in site.posts %}
    <li>
        <div>
            <a href="{{ post.url }}" style="text-decoration:none;"><h3>{{ post.title }}</h3></a>
            <h5>
                <span class="glyphicon glyphicon-time"></span> Post by {{ post.author }}, {{ post.date | date_to_long_string }}.
            </h5>
            <h5>{% for tag in post.tags %}
                <a href="/search.html?fields=tags&query={{ tag }}" class="label label-primary">{{ tag | replace:'_',' ' }}</a>
                {% endfor %}</h5>
            <div>{{ post.content |truncatehtml | truncatewords: 60 }}</div>
        </div>
        <hr>
    </li>
    {% endfor %}
</ul>
