<!--http://ivanzuzak.info/2011/02/18/github-hosted-comments-for-github-hosted-blogs.html-->
<hr/>
<h2>Comments</h2>
<div id="header">
    Want to leave a comment? Visit <a
        href="https://github.com/monikma/monikma.github.io/issues/{{ page.commentIssueId }}"> this post's issue page
    on GitHub</a> and just post your comment as the issue's comment (you'll need a GitHub account. What? Like you don't have one yet?!).
</div>
<br>

<p><span class="badge" id="comments-count"></span> Comments:</p><br>

<div class="row" id="comments-div">
</div>
