<div class="col-sm-3 sidenav">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
    </div>

    <ul class="nav nav-pills nav-stacked">
        <li><a href="/"><h3>Mona's learning blog</h3></a></li>
        {% for post in site.posts %}
        {% if page.url == post.url %}
        <li class="active">
            {% else %}
        <li>
            {% endif %} <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <br/>
</div>
