<div class="col-sm-3 sidenav">
    <br/>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
    </div>
    <p/>
    <ul class="nav nav-pills nav-stacked">

        {% for post in site.posts %} {% if page.url == post.url %}
        <li class="active">
            {% else %}
        <li>
            {% endif %} <a href="{{ post.url }}">
                {% if post.type == "book" %}
                    <span class="glyphicon glyphicon-book"></span>
                {% elsif post.type == "certification" %}
                    <span class="glyphicon glyphicon-certificate"></span>
                {% elsif post.type == "course" %}
                    <span class="glyphicon glyphicon-user"></span>
                {% else %} {% endif %}
                {{ post.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <br/>
</div>
