<div class="col-sm-3 sidenav">
    <br/>
    <div class="input-group">
        <form action="/search.html" method="get">
            <span class="input-group-btn">
                <input type="text" class="form-control" placeholder="Search Blog.." id="search-box" name="query">
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </form>
    </div>
    <p/>
    <ul class="nav nav-pills nav-stacked">

        {% for post in site.posts %} {% if page.url == post.url %}
        <li class="active">
            {% else %}
        <li>
            {% endif %} <a href="{{ post.url }}">
                {% if post.type == "book" %}
                    <span class="glyphicon glyphicon-book"></span>
                {% elsif post.type == "certification" %}
                    <span class="glyphicon glyphicon-certificate"></span>
                {% elsif post.type == "course" %}
                    <span class="glyphicon glyphicon-user"></span>
                {% else %} {% endif %}

                {% if post.draft == true %}
                    <span class="glyphicon glyphicon-pencil"></span>
                {% endif %}

                {{ post.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <br/>
</div>
