<div class="lead">
    <h1>Mona's learning blog</h1>
    <p>This is a blog I created to store my notes I am making while learning different topics (mostly programming-related), so that other people (including the future me) can benefit from them.</p>

    <p>Usually while making the notes I try to summarize the whole content I am reading, skipping the parts that are really obvious to me. If I feel that I have skipped parts that may not be obvious to other sane inviduals, I usually try to write in the post introduction something about my background in the topic, so that the reader can judge whether their experiences match, and therefore whether the blog post can be useful to them.</p>

</div>
