<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {% if page.title %} {{ page.title }} {% else %} Mona's learning blog {% endif %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    {% if page.emphasisColor %}
    <style>
        code {
            color:  #{{ page.emphasisColor }};
        }
        b {
            font-color:  #{{ page.emphasisColor }} !important;
            background-color:  #{{ page.emphasisColorBg }} !important;
            font-weight: lighter !important;
        }
        h1, h2, h3, h4, h5, h6 {
            color:  #{{ page.emphasisColor }};
        }
        .bg-info {
          background-color:  #{{ page.emphasisColorBg }};
        }
    </style>
    {% endif %}
    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/jquery.fittext.js"></script>
    <script src="/js/wow.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/js/blog.js"></script>
    <script type="text/javascript">

       $.ajax("https://api.github.com/repos/monikma/monikma.github.io/issues/{{ page.commentIssueId }}/comments", {
         headers: {Accept: "application/vnd.github.full+json"},

         success: function(data){
           commentsTxt = "";
           for (i=0;i<data.length;i++) {
              comment = data[i];
              commentsTxt +=
                   '<div class="row">'+
                   '<div class="col-sm-2 text-center">'+
                        '<img src="' + comment.user.avatar_url + '" class="img-circle" height="65" width="65" alt="Avatar">'+
                   '</div>'+
                   '<div class="col-sm-10">'+
                   '<h4>'+comment.user.login +' '+
                       '<small>'+ new Date(comment.created_at).toDateString() +'</small>'+
                   '</h4>'+
                   '<p>'+comment.body+'</p>'+
                   '<br></div></div>';
           }
           document.getElementById("comments-div").innerHTML=commentsTxt;
           document.getElementById("comments-count").innerHTML=data.length;
         },

         error:function(){
            document.getElementById("comments-div").innerHTML=
               '<div class="col-sm-10">'+
                   '<p>Cannot load the comments; try again later.</p>'+
                   '<br>'+
               '</div>';
         }
       });

    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78542713-1', 'auto');
  ga('send', 'pageview');
    </script>
</head>
<body>

{% include nav.html %}

{% include posts-list.html %}

<div class="col-sm-9">

    <h2>
        {% if page.draft == true %}
            <small>(<span class="glyphicon glyphicon-pencil"></span> Draft)</small>
        {% endif %}

        {{ page.title }}
    </h2>
    <h5><span class="glyphicon glyphicon-time"></span> Posted by {{ page.author }}, {{ page.date | date_to_long_string }}.
    </h5>
    <h5>{% for tag in page.tags %}<a href="/search.html?fields=tags&query={{ tag }}" class="label label-primary">{{ tag | replace:'_',' ' }}</a> {% endfor %}</h5>

    {% if page.type == "book" %}
    <span class="glyphicon glyphicon-book"></span> Book summary
    {% elsif page.type == "certification" %}
    <span class="glyphicon glyphicon-certificate"></span> Preparation for certification
    {% elsif page.type == "course" %}
    <span class="glyphicon glyphicon-user"></span> Course notes
    {% else %} {% endif %}

    {{ content }}

    {% include comments.html %}

</div>

<footer class="container-fluid">

</footer>


</body>
</html>
