<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {% if page.title %}
        {{ page.title }}
        {% else %}
        Default Page Title
        {% endif %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

{% include menu.html %}

<div class="col-sm-9">

    <h2>{{ page.title }}</h2>
    <h5><span class="glyphicon glyphicon-time"></span> Post by {{ page.author }}, {{ page.date | date_to_long_string }}.</h5>
    <h5>{% for tag in page.tags %}<span class="label label-primary">{{ tag }}</span> {% endfor %}</h5><br>
    {{ content }}

    {% include comment.html %}

</div>

<footer class="container-fluid">
    <p>Footer Text</p>
</footer>

<!-- jQuery -->
<script src="/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script src="/js/wow.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/js/creative.js"></script>
</body>
</html>